img {
    max-width: 100%;
    vertical-align: middle;
    -webkit-object-fit: cover;
    -moz-object-fit: cover;
    -ms-object-fit: cover;
    -o-object-fit: cover;
    object-fit: cover;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

@keyframes lac {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    10% {
        -webkit-transform: rotate(-25deg);
        -moz-transform: rotate(-25deg);
        -o-transform: rotate(-25deg);
        -ms-transform: rotate(-25deg);
        transform: rotate(-25deg);
    }
    20% {
        -webkit-transform: rotate(25deg);
        -moz-transform: rotate(25deg);
        -o-transform: rotate(25deg);
        -ms-transform: rotate(25deg);
        transform: rotate(25deg);
    }
    30% {
        -webkit-transform: rotate(-25deg);
        -moz-transform: rotate(-25deg);
        -o-transform: rotate(-25deg);
        -ms-transform: rotate(-25deg);
        transform: rotate(-25deg);
    }
    40% {
        -webkit-transform: rotate(25deg);
        -moz-transform: rotate(25deg);
        -o-transform: rotate(25deg);
        -ms-transform: rotate(25deg);
        transform: rotate(25deg);
    }
    50% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@keyframes zoomin {
    0% {
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -o-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(2.2);
        -moz-transform: scale(2.2);
        -o-transform: scale(2.2);
        -ms-transform: scale(2.2);
        transform: scale(2.2);
        opacity: 0.1;
    }
}

@keyframes zoomout {
    0% {
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -o-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
        opacity: 0.8;
    }
    100% {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        opacity: 0.3;
    }
}

@keyframes xoay {
    0% {
        -webkit-transform: skewX(163deg) scaleX(1.1) translate(-39px, 15px) rotateX(0deg);
        -moz-transform: skewX(163deg) scaleX(1.1) translate(-39px, 15px) rotateX(0deg);
        -o-transform: skewX(163deg) scaleX(1.1) translate(-39px, 15px) rotateX(0deg);
        -ms-transform: skewX(163deg) scaleX(1.1) translate(-39px, 15px) rotateX(0deg);
        transform: skewX(163deg) scaleX(1.1) translate(-39px, 15px) rotateX(0deg);
    }
    50% {
        -webkit-transform: skewX(163deg) scaleX(1.1) translate(-39px, 15px) rotateX(180deg);
        -moz-transform: skewX(163deg) scaleX(1.1) translate(-39px, 15px) rotateX(180deg);
        -o-transform: skewX(163deg) scaleX(1.1) translate(-39px, 15px) rotateX(180deg);
        -ms-transform: skewX(163deg) scaleX(1.1) translate(-39px, 15px) rotateX(180deg);
        transform: skewX(163deg) scaleX(1.1) translate(-39px, 15px) rotateX(180deg);
    }
    100% {
        -webkit-transform: skewX(163deg) scaleX(1.1) translate(-39px, 15px) rotateX(360deg);
        -moz-transform: skewX(163deg) scaleX(1.1) translate(-39px, 15px) rotateX(360deg);
        -o-transform: skewX(163deg) scaleX(1.1) translate(-39px, 15px) rotateX(360deg);
        -ms-transform: skewX(163deg) scaleX(1.1) translate(-39px, 15px) rotateX(360deg);
        transform: skewX(163deg) scaleX(1.1) translate(-39px, 15px) rotateX(360deg);
    }
}

@keyframes laolen {
    0% {
        -webkit-transform: translate(0, -15px);
        -moz-transform: translate(0, -15px);
        -o-transform: translate(0, -15px);
        -ms-transform: translate(0, -15px);
        transform: translate(0, -15px);
    }
    50% {
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    100% {
        -webkit-transform: translate(0, -15px);
        -moz-transform: translate(0, -15px);
        -o-transform: translate(0, -15px);
        -ms-transform: translate(0, -15px);
        transform: translate(0, -15px);
    }
}

@keyframes cross {
    0% {
        left: -110%;
        top: 90%;
    }
    50% {
        left: -10%;
        top: -30%;
    }
    100% {
        left: -10%;
        top: -10%;
    }
}

@keyframes c-rotateZ {
    0% {
        -webkit-transform: rotateZ(0deg);
        -moz-transform: rotateZ(0deg);
        -o-transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateZ(360deg);
        -moz-transform: rotateZ(360deg);
        -o-transform: rotateZ(360deg);
        -ms-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
}

@keyframes c-zoom {
    0% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    50% {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        opacity: 0.5;
    }
    100% {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -o-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
        opacity: 0;
    }
}

@keyframes xoay {
    0% {
        -webkit-transform: rotateZ(0deg);
        -moz-transform: rotateZ(0deg);
        -o-transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateZ(360deg);
        -moz-transform: rotateZ(360deg);
        -o-transform: rotateZ(360deg);
        -ms-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
}

@keyframes zoomO {
    0% {
        width: 0rem;
        height: 0rem;
    }
    100% {
        width: 31.25rem;
        height: 31.25rem;
    }
}

@keyframes up {
    0% {
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    100% {
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -o-transform: translateY(0%);
        -ms-transform: translateY(0%);
        transform: translateY(0%);
    }
}

@font-face {
    font-family: fontawesome;
    src: url(../fonts/font-awesome/fontawesome-webfont.ttf);
}

@font-face {
    font-family: fontawesome;
    src: url(../fonts/font-awesome/FontAwesome.otf);
}

.line-camp-1 {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.line-camp-2 {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.line-camp-3 {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.delay02 {
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    -ms-animation-delay: 0.2s;
    -o-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.delay04 {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    -ms-animation-delay: 0.4s;
    -o-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.delay06 {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    -ms-animation-delay: 0.6s;
    -o-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.c-img-50 {
    display: block;
    position: relative;
    padding-top: 50%;
}

.c-img-50 img,
.c-img-50 .bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.c-img-70 {
    display: block;
    position: relative;
    padding-top: 70%;
}

.c-img-70 img,
.c-img-70 .bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.c-img-100 {
    display: block;
    position: relative;
    padding-top: 100%;
}

.c-img-100 img,
.c-img-100 .bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.smooth {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.s-content ol {
    list-style: decimal;
    margin-left: 0.9375rem;
    margin-bottom: 0.625rem;
}

.s-content ul {
    list-style: initial;
    margin-left: 0.9375rem;
    margin-bottom: 0.625rem;
}

.s-content li {
    list-style: inherit;
    margin-bottom: 0.3125rem;
}

.s-content p {
    margin-bottom: 0.625rem;
}

.s-content img {
    display: block;
    max-width: 100%;
    margin: 0.625rem auto;
    width: auto !important;
    object-fit: contain;
    height: auto !important;
}

.s-content table,
.s-content iframe {
    max-width: 100%;
    width: 100%;
}

.s-content table {
    border-collapse: collapse;
    width: 100%;
    border: solid 0.0625rem #0000006e;
}

.s-content table td {
    border-collapse: collapse;
    border: solid 0.0625rem #0000006e;
    padding: 0.1875rem;
}

.s-content h1,
.s-content h2,
.s-content h3,
.s-content h4,
.s-content h5,
.s-content h6 {
    display: block;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.s-content h1 {
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
}

.s-content h2 {
    font-size: 1.5em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

.s-content h3 {
    font-size: 1.17em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.s-content h4 {
    font-size: 1em;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
}

.s-content h5 {
    font-size: 0.83em;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
}

.s-content h6 {
    font-size: 0.67em;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
}

.zoom {
    display: block;
    overflow: hidden;
    position: relative;
}

.zoom img {
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    position: absolute;
    display: block;
}

.zoom:hover img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.back-to-top {
    display: block;
    position: fixed;
    font-size: 1.2rem;
    cursor: pointer;
    text-align: center;
    z-index: 999;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    bottom: 3.125rem;
    border-radius: 100%;
    right: 1.875rem;
    color: #ee3537;
    border: 0.0625rem solid #ee3537;
    -webkit-animation: laolen 1s infinite;
    -moz-animation: laolen 1s infinite;
    -ms-animation: laolen 1s infinite;
    -o-animation: laolen 1s infinite;
    animation: laolen 1s infinite;
}

.back-to-top:hover {
    background: #ee3537;
    color: #fff;
    opacity: 0.8;
}

.back-to-top i {
    transform: rotate(0deg);
}

.btn-call span,
.btn-mess span {
    display: inline-block;
    font-size: 1.875rem;
    width: 3.75rem;
    height: 3.75rem;
    margin: auto;
    border-radius: 50%;
    line-height: 3.75rem;
    text-align: center;
    color: #fff;
    background: #fff;
    position: relative;
}

.btn-call span:before,
.btn-mess span:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    border-radius: 50%;
    border: solid 0.0625rem #fff;
    -webkit-animation-name: zoomin;
    -moz-animation-name: zoomin;
    -ms-animation-name: zoomin;
    -o-animation-name: zoomin;
    animation-name: zoomin;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -ms-animation-duration: 1.5s;
    -o-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.btn-call span:after,
.btn-mess span:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    border-radius: 50%;
    background: #fff;
    z-index: -1;
    -webkit-animation-name: zoomout;
    -moz-animation-name: zoomout;
    -ms-animation-name: zoomout;
    -o-animation-name: zoomout;
    animation-name: zoomout;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -moz-animation-direction: alternate;
    -ms-animation-direction: alternate;
    -o-animation-direction: alternate;
    animation-direction: alternate;
}

.btn-call span i,
.btn-mess span i {
    -webkit-animation-name: lac;
    -moz-animation-name: lac;
    -ms-animation-name: lac;
    -o-animation-name: lac;
    animation-name: lac;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.img-zoom {
    overflow: hidden;
    display: block;
}

.img-zoom img {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 3s ease;
    -moz-transition: 3s ease;
    -ms-transition: 3s ease;
    -o-transition: 3s ease;
    transition: 3s ease;
}

.img-zoom:hover img {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Montserrat";
    font-weight: 600;
    src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf");
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
    font-weight: 400;
}

body {
    transition: all 0.6s ease;
    font-family: "Montserrat";
    text-align: center;
    font-size: 16px;
    line-height: 1.618;
}

.panel {
    height: 100vh;
    display: flex;
    align-items: center;
    font-weight: 700;
    justify-content: center;
    transition: all 0.3s ease;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.l-left {
    float: left;
}

.l-right {
    float: right;
}

.end {
    margin-top: 1.875rem;
    font-size: 3em;
    font-weight: bold;
    opacity: 0;
    -webkit-transform: translateY(300px);
    -ms-transform: translateY(300px);
    transform: translateY(300px);
    -webkit-transition: opacity, -webkit-transform 1s;
    transition: opacity, transform 1s;
    -webkit-transition-delay: 1s;
    transition-delay: 1s;
}


/* RESET-GENERAL STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

ul,
li {
    list-style-type: none;
}


/* NAV STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.color-f7ede3 {
    color: #f7ede3 !important;
}

.color-015b7e {
    color: #015b7e !important;
}

.color-ff9652 {
    color: #ff9652 !important;
}

.color-017a71 {
    color: #017a71 !important;
}

.color-01a296 {
    color: #01a296 !important;
}

.span_a-017a71 {
    color: #017a71 !important;
}

.span_a-015b7e {
    color: #015b7e !important;
}

.span_a-ff9652 {
    color: #ff9652 !important;
}

.span_a-0626dc {
    color: #0626dc !important;
}

.span_a-ede5d0 {
    color: #ede5d0 !important;
}


/*  */

.span-017a71 {
    background-color: #017a71 !important;
}

.span-015b7e {
    background-color: #015b7e !important;
}

.span-ff9652 {
    background-color: #ff9652 !important;
}

.span-0626dc {
    background-color: #0626dc !important;
}

.span-ede5d0 {
    background-color: #ede5d0 !important;
}

.header-top {
    background: #fff;
    height: 4.375rem;
    padding: 40px 0.625rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 12;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    transition: 0.6s all 0s;
}

.hearder-logo .images {
    padding-top: 20px;
}

a:hover {
    text-decoration: none;
}

.toggle-menu {
    width: 3.125rem;
    height: 3.125rem;
    display: none;
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
    z-index: 998;
}

.toggle-menu i {
    position: absolute;
    display: block;
    height: 0.125rem;
    background: #15373e;
    width: 1.875rem;
    left: 0.625rem;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.toggle-menu i:nth-child(1) {
    top: 1rem;
}

.toggle-menu i:nth-child(2) {
    top: 1.5rem;
}

.toggle-menu i:nth-child(3) {
    top: 2rem;
}

.open-menu i:nth-child(1) {
    top: 1.5625rem;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.open-menu i:nth-child(2) {
    background: transparent;
}

.open-menu i:nth-child(3) {
    top: 1.5625rem;
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
}

nav {
    height: auto;
    opacity: 1;
    box-sizing: border-box;
    position: fixed;
    top: 4.675rem;
    left: 0.9375rem;
    width: 100%;
    -webkit-transition: all 3s;
    transition: all 0.3s;
}

.open-menu~nav {
    opacity: 1;
    padding: 0;
    z-index: 999;
    height: calc(90vh - 70px);
}

nav ul {
    padding: 0 0.625rem;
    display: block;
}

nav li {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

nav li a {
    font-size: 2em;
    display: block;
    padding: 1.875rem;
    text-align: center;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
    text-transform: uppercase;
}

nav li:nth-child(odd) a,
body.fp-viewing-fifthSection-1 #menu li:nth-child(5) a {
    background: #01506f;
}

nav li:nth-child(even) a {
    background: #01506f;
}

nav li:nth-child(odd) a:hover {
    background: #9e2f41;
    color: #fff;
}

nav li:nth-child(even) a:hover {
    background: #c53c52;
    color: #fff;
}

nav li.active a,
body.fp-viewing-fifthSection-1 #menu li:last-child a {
    background: #453659;
}


/* SLIDENAV STYLES - fullPage.js 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.header-lt {
    display: flex;
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
    justify-content: flex-end;
}

.header-lt ul li {
    display: inline-block;
    padding-left: 2rem;
    margin-top: 0.4375rem;
}

.header-lt ul li a {
    font-size: 1.25rem;
    color: #00587a;
    text-transform: uppercase;
    font-weight: 700;
    transition: 0.3s all 0s;
}

.icon {
    position: fixed;
    top: 10%;
    right: 6%;
    z-index: 99;
}

a.item-icon {
    display: block;
    display: flex;
    width: 3.125rem;
    height: 3.125rem;
    align-items: center;
    background: #025b7b;
    justify-content: center;
    margin-top: 0.9375rem;
    border-radius: 50%;
}

a.item-icon i {
    font-size: 1.875rem;
    color: white;
}

a.item-icon img {
    padding: 3px;
    width: 35.5px;
    height: 31px;
}

.logo .images {
    display: block;
    padding-bottom: 2.5rem;
}

.logo .sub {
    font-size: 2.1875rem;
    font-weight: 700;
    color: #025b7b;
    margin-top: 1.875rem;
}


/* .abouts */

.abouts {
    position: relative;
}

.abouts .s-content {
    color: #ff9652;
    font-size: 1.75rem;
    text-align: justify;
    line-height: 1.3;
    font-weight: 300;
}

.abouts .s-content strong {
    font-weight: 700;
}

.abouts .title {
    z-index: 3;
    font-size: 2.1875rem;
    padding-bottom: 0.625rem;
    font-weight: bold;
    color: #f69454;
    border-bottom: 2px solid #f69454;
    text-transform: uppercase;
}

.ourexpertise .title {
    padding-bottom: 0.625rem;
    font-size: 2.1875rem;
    font-weight: 700;
    color: #017a71;
    border-bottom: 2px solid #017a71;
    text-transform: uppercase;
}

.ourpartners .title {
    font-size: 2.1875rem;
    padding-bottom: 0.625rem;
    font-weight: bold;
    color: #025b7b;
    border-bottom: 2px solid #025b7b;
    text-transform: uppercase;
}

.ourpartners .swiper-container {
    margin-top: 3rem;
}

.ourpartners .logo_img {
    text-align: center;
}

.ourpartners .logo_img img {
    max-width: 90%;
    padding: 0.9375rem 0;
}

.ourpartners .swiper-pagination {
    position: relative !important;
    margin-top: 0.625rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mySwiper-ourexpertise {
    margin-top: 3.125rem;
}

.ourexpertise .item {
    position: relative;
    background-color: #ffefe4;
    min-height: 22.875rem;
    display: flex;
    max-height: 22.875rem;
    justify-content: center;
    border-radius: 15px;
    transition: 0.5s;
    align-items: center;
}

.ourexpertise .item .item_1 {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    visibility: visible;
    transition: 0.3s;
    min-height: 22.875rem;
    max-height: 22.875rem;
    border-radius: 15px;
}

.ourexpertise .item .item_1 img {
    min-height: 22.875rem;
    width: 100%;
    max-height: 22.875rem;
    border-radius: 15px;
}

.ourexpertise .item:hover .item_1 {
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.ourexpertise .item:hover .item_2 {
    display: flex;
    align-items: center;
}

.ourexpertise .item .item_2 .s-content {
    font-size: 1.125rem;
    font-weight: 700;
    color: #017a71;
}

.ourexpertise .swiper-pagination {
    margin-top: 1.875rem;
    position: relative !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ourexpertise .swiper-pagination-bullet-active {
    background: #ff6807 !important;
    width: 12px;
    height: 12px;
}

.contactus .text {
    display: block;
    float: right;
    text-align: right;
    width: 100%;
}

.contactus .text .title {
    font-size: 2.1875rem;
    font-weight: 700;
    color: #ede5d0;
    padding-bottom: 0.625rem;
    border-bottom: 0.125rem solid #ede5d0;
    text-transform: uppercase;
}

.contactus .text .sub {
    display: block;
    margin-top: 1.875rem;
    font-size: 1.25rem;
    color: #ede5d0;
    text-transform: capitalize;
    margin-bottom: 1.875rem;
    font-weight: 300;
}

.form-contact .content {
    text-align: initial;
    color: #ede5d0;
}

.form-contact .content .title {
    text-transform: uppercase;
    display: block;
    font-size: 1.875rem;
    color: #ede5d0;
    font-weight: 700;
}

.form-contact .content .content-sub {
    margin-top: 0.625rem;
    display: block;
    font-size: 1rem;
}

.form-contact textarea {
    height: 12.5rem;
    width: 100%;
    border-radius: 0.9375rem;
    padding: 0.9375rem;
    font-size: 1rem;
}

.form-contact .btn {
    color: #017a71;
    background: #fff;
    float: right;
    font-size: 1.125rem;
    padding: 0.3125rem 2.5rem;
    border-radius: 0.9375rem;
    font-weight: 600;
    width: auto;
}

.form-control {
    border: 0.0625rem solid #fff;
    height: 3.75rem;
    background: none;
    border-radius: 0.9375rem;
    color: #fff;
    padding-left: 1rem;
    font-size: 1rem;
}

input::placeholder {
    color: #fff !important;
    opacity: 1;
    /* Firefox */
}

input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #fff !important;
}

input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #fff !important;
}

.thank .title {
    display: block;
    font-size: 2.5rem;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Montserrat";
}

.thank .sub {
    display: block;
    font-size: 1.25rem;
    margin-top: 0.9375rem;
    color: #fff;
    font-weight: 400;
}

.logo-ft {
    margin-top: 4.25em;
}

.logo-ft .images {
    width: 70%;
    margin: 0 auto;
}

.logo-ft .sub {
    font-size: 1.75em;
    font-weight: 500;
    color: #ede5d0;
}

nav#menu span {
    height: 8px;
    width: 8px;
    background: #025b7b;
    border-radius: 62.4375rem;
    position: relative;
    z-index: 1;
    margin: 10px 0;
    transition: 0.6s all 0s;
}

nav#menu {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    flex-direction: column;
    opacity: 0;
    pointer-events: none;
    align-items: center;
    z-index: 990;
}

nav.active {
    opacity: 1 !important;
    pointer-events: all !important;
}

nav#menu span.active a {
    opacity: 0;
}

nav#menu span.active:hover a {
    opacity: 1;
}

nav#menu span a {
    opacity: 0;
}

nav#menu span:hover a {
    opacity: 1;
}

nav#menu span:hover {
    width: 15px;
    height: 15px;
}

nav#menu span a {
    position: absolute;
    z-index: 1;
    opacity: 1;
    width: max-content;
    left: 1.5625rem;
    font-size: 1.7rem;
    top: -6px;
    line-height: 1.2;
    opacity: 0;
    text-transform: uppercase;
    font-weight: 700;
    transition: 0.6s all 0s;
}

nav#menu span.active {
    width: 15px;
    height: 15px;
}

nav#menu span:not(:last-child) {
    margin-bottom: 0.3125rem;
}

.ourpartners,
.ourexpertise {
    width: 100%;
}

.filter-none {
    filter: none;
}

.filter-invert {
    filter: brightness(1000);
}


/* -------------------------------------------------------------------------Menu-Mobi----------------------------------------------------------------------*/

.menu-mobi {
    display: flex;
    justify-content: flex-end;
}

.overlay-content .content-menu .iput {
    position: relative;
    width: 18.75rem;
    height: 2.5rem;
    border: none;
    border-radius: 0.9375rem;
    padding-left: 0.9375rem;
}

.overlay-content .content-menu .search button {
    position: absolute;
    background: none;
    border: none;
    top: 2%;
    left: 70%;
    font-size: 1.25rem;
}

.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 998;
    top: 0;
    left: -100%;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 5%;
    width: 100%;
    margin-top: 1.875rem;
    padding: 0 0.9375rem;
}

.overlay .closebtn {
    position: absolute;
    top: -0.5rem;
    right: 0.5rem;
    font-size: 2.5rem;
    z-index: 99;
    color: #ffffff;
}

.menu-mobi .menu-mb {
    padding: 0.9375rem 0;
    max-height: 90%;
    overflow: auto;
}

.menu-mobi .menu-mb ul {
    list-style-type: none;
}

.menu-mobi .menu-mb ul li {
    display: block;
}

.menu-mobi .menu-mb ul li a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 1rem 0;
    border-bottom: 0.0625rem solid white;
    text-transform: uppercase;
}

.ourpartners .logo_img .img__ {
    min-height: 6.25rem;
    max-height: 6.25rem;
    display: flex;
    align-items: center;
}

.swiper-slide {
    margin-right: -0.0625rem;
    margin-top: -0.0625rem !important;
}

.swiper-wrapper {
    padding-top: 0.0625rem;
}

.ourpartners .swiper-pagination-bullet {
    margin: 0 5px;
}

.ourpartners .swiper-pagination-bullet-active {
    background: #ee3537 !important;
    width: 12px;
    height: 12px;
}

.content-sub a {
    font-weight: 300;
}

.content-sub a:hover {
    color: #fff;
}

.thank .modal-content {
    background-color: #01a296;
}

.close {
    font-size: 2.5rem !important;
    color: #fff !important;
}

.modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-header {
    border-bottom: none !important;
}

.abouts .s-content {
    margin-top: 3rem;
}

.blog_title {
    font-size: 35px;
    display: flex;
    align-content: center;
    padding-top: 150px;
    justify-content: center;
    font-weight: 700;
    color: #025b7b;
    padding-bottom: 20px;
}

.blog_content {
    padding: 30px 0;
    background: whitesmoke;
}

.blog .card-title {
    display: -webkit-box;
    max-height: 6.2rem;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;
    line-height: 1.6rem;
}

.blog .card-title .title {
    color: #000000;
    font-size: 20px;
    text-align: left;
    font-weight: 600;
}

.blog .card-title .title:hover,
.blog .link:hover {
    color: #025b7b;
}

.item__news .publish,.item__news .create_time {
    font-size: 14px;
    font-weight: 600;
    color:#b5b5b5;
}
.blog .link {
    padding: 0 15px 20px 0;
    color: #b5b5b5;
    font-weight: 700;
    align-items: center;
}

.blog .link i {
    padding-left: 7px;
}

.blog .images img {
    width: 100%;
    min-height: 250px;
    height: 100%;
}
.slide_blog .item .title {
    color: #025b7b;
    font-weight: 600;
    position: absolute;
    margin-top: 10px;
    bottom: 0;
    background: #025b7bd1;
    width: 100%;
    z-index: 2;
    color: #fff;
    padding: 10px;
    opacity: 1;
    transition: 0.3s all;
    font-size: 1rem;
    transform: scale(1);
    will-change: transform;
    transform-origin: middle;
}

.slide_blog .item:hover .title,.slide_blog .item:focus .title {
    transform: scale(0);
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.slide_blog .item:hover .content,.slide_blog .item:focus .content {
    opacity: 1;
    transform: scale(1);
}

.slide_blog .item .content a {
    font-size: 1rem;
    color: #025b7b;
    display: block;
    text-align: center;
}

.slide_blog .item .content .sub {
    font-size: 1.2rem;
    text-align: center;
}
.pagination {
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.pagination>a {
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 600;
    color: #025b7b;
}

.pagination>a:hover {
    padding: 10px 15px;
    background: #025b7b;
    color: #fff;
}

.pagination>strong {
    padding: 10px 15px;
    background: #025b7b;
    color: #fff;
}

.detail_blog {
    padding-top: 200px;
}

.detail_blog .title {
    font-size: 40px;
    line-height: 1.5;
    font-weight: 600;
    color: #025b7b;
    padding-bottom: 50px;
}

.detail_blog .content {
    padding-bottom: 30px;
}

.detail_blog .content .icon {
    font-size: 18px;
    margin-right: 20px;
    color: #025b7b;
    position: unset;
}

.detail_blog .content .icon:last-child {
    margin: 0;
}

.detail_blog .content .icon i {
    margin-right: 5px;
}

.detail_blog .s-content {
    text-align: left;
}

.slide_blog {
    padding: 50px 0;
    background: #f5f5f5;
}

.slide_blog .item {
    font-size: 1.125rem;
    position: relative;
    z-index: 1;
    display: block;
    background: #ffffff;
    box-shadow: 0px 10px 20px rgb(0 0 0 / 8%);
}

.slide_blog .item .img-new img {
    width: 100%;
    min-height: 230px;
    max-height: 230px;
}

.slide_blog .item .content .eye{
    font-size: 2rem;
}
.slide_blog .item .content {
    padding: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background:#ffffffe3;
    will-change: transform;
    -webkit-transform: scale(0);
       -moz-transform: scale(0);
        -ms-transform: scale(0);
         -o-transform: scale(0);
            transform: scale(0);
            -webkit-transition: all 0.3s ease 0s;
            -moz-transition: all 0.3s ease 0s;
            -ms-transition: all 0.3s ease 0s;
            -o-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
}

.slide_blog .content .title {
    display: -webkit-box;
    max-height: 6.2rem;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;
    line-height: 1.6rem;
    font-size: 20px;
    color: #025b7b;
    text-align: left;
    font-weight: 600;
}

.slide_blog .content .sub {
    margin-top: 15px;
    max-height: 6.2rem;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 3;
    line-height: 1.6rem;
    font-size: 16px;
    text-align: left;
}

.slide_blog .content .link {
    color: #b5b5b5;
    display: flex;
    font-weight: 700;
    align-items: center;
    text-align: right;
}

.slide_blog .content .link:hover {
    color: #025b7b;
}

.slide_blog_title {
    font-size: 30px;
    font-weight: 600;
}

.slide_blog_title {
    font-size: 30px;
    font-weight: 600;
}

.block__contact.is_blog,
.block__contact.is_blog  .contactus {
    background: #025b7b;
}
.author-names a {
    background: #025b7b;
    color: #fff;
    font-weight: 600;
    font-size: 0.985rem;
}
.tag__block a{
    background: #025b7b;
    color: #fff;
     font-size: 0.985rem;

}